<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215111408715-qt1pag88l3lvntm3moksibeipl8d1g6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215111408715-qt1pag88l3lvntm3moksibeipl8d1g6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215111408715-isq20p5lo5i4lhvs02etfh693crrhks7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAh9RJCyY06zlNeEjE7cjwKBlWBa8bd04U</string>
	<key>GCM_SENDER_ID</key>
	<string>215111408715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.TukeDrive</string>
	<key>PROJECT_ID</key>
	<string>tuketuke-b2912</string>
	<key>STORAGE_BUCKET</key>
	<string>tuketuke-b2912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215111408715:ios:cc266211af4ed4f64dc1ce</string>
</dict>
</plist>